{% extends "header.html" %}
{% block body %}



<div class="jumbotron">

<div class="container">


<h1 class="text-center">博客作者为 yrd <br/> <h1 class="text-right"><small class="text-left"><small>就读于西安电子科技大学软件学院</small></small></h1></h1>

<br/>
<br/>
<p  class="lead">本博客于2016年基于程序设计实训搭建</p>
<p class="lead">开始时学习python用于学习网络爬虫，逐渐了解到python可以用于搭建个人博客</p>
<p class="lead">基于程序设计实训的要求及个人兴趣，博客基于flask框架搭建</p>
<p class="lead">前段基于bootstrap和jinja2渲染</p>
<p class="lead">项目源代码见<a href="https://github.com/woyijkl1/myblog" >yrd的github</a></p>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

  </div>




</div>

{% endblock %}