{% extends "header.html" %}

{% block body %}

<div class="page-header">
  <h1>ta写过的blog <small><small></small></small></h1>
</div>

<div role="tabpanel">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
 <li ><a >用户</a></li>
	{% for result in results %}	
  <li role="presentation"><a href="#{{result[0]}}" aria-controls="basics" role="tab" data-toggle="tab">{{result[0]}}</a></li>
	{% endfor %}
	
	
	

  </ul>

  <!-- Tab panes -->
<div class="tab-content">

	{% for result in results %}	
		  <div role="tabpanel" class="tab-pane fade" id="{{result[0]}}">			
			{% for bg in blog %}
			
				{% if bg[0] == result[0] %}
				<div class="jumbotron">
				  <p> {{bg[1]|replace("\\r\\n", '<br>')|safe}}<br></p>
				  <p  align="right"  > <font size="2" face="Verdana"> {{bg[2]}} </font> </p>
				</div>
				{% endif %}

			{% endfor %}
		  </div>
	{% endfor %}



</div>

</div>

{% endblock %}
 